div.contentmenu1>img{
	display:block;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:90%;
	border-radius:50%;
	transition-duration:0.2s;
}
div.contentmenu1>p{
	text-align:center;
	color:#757575;
	margin-top:0px;
	font-size:14px;
	padding: 0px 10px;
}
div.contentmenu1>a{
	text-decoration:none;
	text-align:center;
	color:#EEBABD;
	background-color:rgba(0, 0, 0, 0.0);
	border:#EEBABD 1px solid;
	margin: 10px 3px;
	display:block;
	padding:10px 10px;
}
div.contentmenu1>a:hover{
	background-color:#EEBABD;
	color:#fff;
}
@media screen and (max-device-width:768px) {
div.contentmenu1{
	opacity:0;
}
div.contentmenu1:hover{
	opacity:1;
}
div.contentmenu1>img{
	width:70px;
	height:70px;
}
div.contentmenu1>p{
}
div.contentmenu1>h3{
	font-size:250%;
}
div.contentmenu1>a{
	padding-top:10px;
	padding-bottom:10px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:10px;
}
}