html{
	height:100%;
}
body{
	background-image: url("images/background.png");
	/*background: -webkit-linear-gradient(to top, #114357 , #F29492); /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to top, #08070D , #3F1521 , #872923 , #BF6540 , #737979 , #274964); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: repeat;
	background-attachment:fixed;
}
@font-face {
    font-family: Support;
    src: url(fonts/Cour.ttf);
}
#menubutton {
	background-color: white;
	height: 50px;
	width: 50px;
	border: #dddddd 1px solid;
	outline: none;
	position:fixed;
	margin: 0 auto;
	display:none;
}
#menubutton >div#one {
	height: 5px;
	width: 30px;
	background: #AA212A;
	margin: 5px auto 5px auto;
	transition-duration:0.2s;
	transition-delay:0.5s;
}
#menubutton >div#two {
	height: 5px;
	width: 30px;
	background: #dddddd;
	margin: 5px auto 5px auto;
	transition-duration:0.2s;
	transition-delay:0.5s;
}
#menubutton >div#three {
	height: 5px;
	width: 30px;
	background: #384764;
	margin: 5px auto 5px auto;
	transition-duration:0.2s;
	transition-delay:0.5s;
}
#menubutton:active>div#one{
	transform: translateY(10px) rotate(135deg);
	transition-delay:0s;
}
#menubutton:active>div#two{
	transition-delay:0s;
}
#menubutton:active>div#three{
	transform: translateY(-10px) rotate(-135deg);
	transition-delay:0s;
}
div#menu{
	background-color:fff;
	border:#DDDDDD 1px solid;
	position:fixed;
	width:200px;
	background-color:#fff;
	font-family: "Courier New", Support, Arial, Verdana, Tahoma;
	height:70%;
	overflow-x:hidden;
	transition-duration:0.2s;
}
div.mborder>img{
	width:70%;
	border-radius:50%;
	margin: 10px auto 10px auto;
	display:block;
}
div.mborder>h2{
	background-color:#000;
	color:#fff;
	margin-top:0px;
	margin-bottom:0px;
	padding:10px 15px;
	font-weight:100;
	font-size:120%;
	text-align:center;
	word-break: break-word;
}
div.mborder{
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
div.mborder::-webkit-scrollbar-track{
	background-color:rgba(0, 0, 0, 0);
	margin: 0px;
}
div.mborder::-webkit-scrollbar{
	width:0px;
}
div.mborder::-webkit-scrollbar-thumb{
	background-color:rgba(0, 0, 0, 0);
}
div.archive{ 
	margin: 0px 0px;
	padding: 0px 30px;
	overflow:auto;
}
div.mborder>a{
	display: block;
	background-color:rgba(0, 0, 0, 0.0);
	color:#757575;
	text-decoration:none;
	padding:5px 5px;
	font-size:14px;
	text-align:center;
	border:#DDDDDD 1px solid;
	margin: 5px 5px;
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
div.mborder>a:hover{
	background-color:#2d2d2d;
	color:#fff;
	border:#2d2d2d 1px solid;
	
}
div.content{
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	background-color:#fff;
	border:#DDDDDD 1px solid;
	word-wrap:break-word;
}
div.hidden{
	display:none;
}
div.dark{
	background-color:#000;
	color:#fff;
	border:#000 1px solid;
}
.dark{
	color:#fff;
}
div.center{
	text-align:center;
}
div.video>h2{
	background-image: url(images/video-icon.png);
	background-position: 99%;
	background-repeat:no-repeat;
	background-size:30px;;
}
div.content>img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	min-width:570px;
	width:100%;
	min-height:0px;
	height:100%;
	transition: opacity .3s ease-in;
	image-orientation: from-image;
}
div.content>video{
	display:block;
	margin-left:auto;
	margin-right:auto;
	min-width:570px;
	width:100%;
	min-height:0px;
	height:100%;
	transition: opacity .3s ease-in;
}
div.content>h2{
	font-family: "Calibri", Verdana, Tahoma;
	color:#3B3B3B;
	font-weight:100;
	padding:10px 15px;
	font-size:120%;
	margin-top:0px;
	margin-bottom:0px
}
div.content>p{
	font-family: "Courier New", Support, Arial, Verdana, Tahoma;
	color:#757575;
	padding:10px 15px;
	margin-top:0px;
	margin-bottom:0px;
	font-size:14px;
}
.alt{
	color: #FF5A5F;
}
.playlist::before{
	content: "Playlist : ";
}
.playlist::after{
	content: "";
}
div.content>p>a{
	text-decoration:none;
	color:#3399ff;
	font-family: "Courier New", Support, Arial, Verdana, Tahoma;
}
div.content>p>a:hover{
	color:#D8D8D8;
}
div#spotify{
	border:#23CF5F 1px solid;
	position:fixed;
	width:80px;
	height:80px;
	transition-duration:0.3s;
	bottom:0px;
	display:none;
}
div#spotify:hover{
	width:300px;
}
footer{
	background-color:#1A1A1A;
	height:100vh;
	min-width:100%;
	overflow-y: hidden;
	overflow-x: hidden;
	margin-left:-8px;
	margin-right:-8px;
	bottom:0%;
	padding-top: -8px;
	word-wrap:break-word;
	box-shadow: 0px 8px 0px rgb(55,55,55);
}
footer>h1{
	background: #fff; /* fallback for old browsers */
	font-family: "Calibri", Verdana, Tahoma;
	color:#fff;
	text-align:center;
	font-weight:100;
	font-size:500%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
footer>p{
	font-family: "Courier New", Support, Arial, Verdana, Tahoma;
	color:#fff;
	text-align:center;
	margin: 0px 30%;
	padding: 10px 10px;
}
.FormRequest {
	background: #fff;
	margin:0px auto;
	overflow-x:hidden;
}
.FormRequest #formRequest input[type="text"]{
	border:1px solid #dddddd;
	background: #ffffff;
	color:#757575;
	padding:30px;
	font-family: "Courier New", Support, Arial, Verdana, Tahoma;
}
.FormRequest #formRequest input[type="text"]:hover{
	border:1px solid #A5C7FE;
}
.FormRequest #formRequest input[type="text"]:focus{
	border:1px solid #A5C7FE;
	background-color:#fff;
}
.FormRequest #formRequest input[type="button"],input[type="reset"]{
	border:1px solid #dddddd;
	background: #fff;
	color:#757575;
	padding:10px;
	margin: 0px 5px;
}
.FormRequest #formRequest input[type="button"]:hover,input[type="reset"]:hover{
	border:1px solid #A5C7FE
}
/*//START//MOBILE//CSS//HERE//START//*/
@media screen and (max-device-width:768px) {
body{
	background-size: 180px 180px;
}
#menubutton{
	display:initial;
	right:2px;
	z-index:1;
}
div#menu{
	background-size:50px;
	background-repeat:no-repeat;
	background-position: right top;
	right:0px;
	width:70%;
	height:90%;
	transition-duration:0.3s;
	overflow:hidden;
	overflow-y:scroll;
	display:none;
	right:2px;
}
div.mborder{
	overflow-y:scroll;
	overflow-x:hidden;
	display:block;
}
div.mborder>h2{
	font-size:100%;
	word-break:initial;
	overflow:hidden;
}
div.mborder>img{
	width:30%;
}
div.mborder>a{
	padding: 10px 10px;
	margin: 10px 5px 10px 5px;
	font-size:70%;
	word-break:initial;
}
div.content{
	width:100%;
	margin-bottom:20px;
	margin-left:-1px;
	background-clip: padding-box;
}
div.video>h2{
	background-size:10%;
}
div.content>h2{
	font-size:115%;
	padding:10px 15px;
}
div.content>p{
	font-size: 80%;
	padding: 10px 15px;
	word-spacing: -2px;
}
div.content>img{
	min-width:100%;
	width:100%;
}
div.content>video{
	min-width:100%;
	width:100%;
	height:auto;
}
div.content>video:after{
}
footer>h1{
	font-size: 30px;
}
footer>p{
	margin: 10px 10px;
}
div#spotify{
	border:#23CF5F 1px solid;
	position:fixed;
	width:80px;
	height:80px;
	transition-duration:0.3s;
	bottom:0px;
	background-clip: padding-box;
}
div#spotify:hover{
	width:99.4%;
}
}