$backgroundColor: rgb(255, 255, 255);
$primaryRect: beige;
$mainTextColor: purple;

$menuButtonBg: black;
$menuButtonLines: pink;
$menuBackground: black;
$menuH2: rgb(255, 214, 29);
$menuLinks: white;
$menuLinksHover: rgb(255, 214, 29);

$cardColor: rgb(255, 244, 210);
$cardText: rgb(173, 106, 19);

$timelineVerticalLine: white;
$timelineCircle: white;
$timelineCircleBorder: White;
$timelineContainer: lightblue;
$timelineText: rgb(14, 61, 124);

$footerColor: rgb(102, 102, 102);
$footerBox: green;
$footerText: white;