$backgroundColor: grey;
$primaryRect: beige;
$mainTextColor: purple;

$cardColor: black;
$cardText: white;

$timelineVerticalLine: white;
$timelineCircle: white;
$timelineCircleBorder: White;
$timelineContainer: yellow;

$footerColor: black;